h1 {
    
    height: 100px;
    width: 600px;
    background-color: red;
    color: yellow;
    text-align: center;
}

h2 {
    color: red;
    background-color: aqua;
    display: inline-block;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: hsl(229, 87%, 43%);
    display: inline-block;
    background-color: orange;
}

ol {
    color: green;
}

ul {
    color: red;
}

ol ul {
    color: blue;
}

p {
    color: purple;
    background-color: blanchedalmond;
}

.h1txt {
    color: blanchedalmond;
    background-color: purple;
}